*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #ccc;
    list-style: none;
}

/*---------- navbar---------- */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-right{
    align-items: center;
}
.navbar-right a, .navbar a{
    text-decoration: none;
    color: #0a0a0a;
    font-weight: 400;
    margin: 0 15px;
}
.navbar-right a:last-child{
    border-radius: 12px;
    background: var(--Gray-900, #111827);
    color: #ccc;
    padding: 6px 16px;;
}
.navbar-right a img{
    width: 20px;
    align-self: center;
}
.navbar p{
    color: var(--Gray-900, #111827);
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 120% */
    letter-spacing: -0.6px;
}
/* -----------user-profile page-------- */
.user-profile{
    display: flex;
}
.main-content{
    background: #ccc;
    padding: 20px 4% 30px;
    margin: 12px 0;
}
.user-profile div{
    padding: 20px 0;
}
.user-profile div h1{
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -1.2px;
}
.user-profile div h1 p{
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.user-profile .info p img{
    width: 15px;
    margin-right: 7px;
}
.info p{
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.online{
    position: relative;
    padding-left: 20px;
}
.online::before{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    left: 0;
    bottom: 0;
}

.social-media img{
    padding: 6px;
}
.user-1{
    width: 280px;
    height: 320px;
    flex-shrink: 0;
    border: 8px solid var(--Gray-Default, #FFF);
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    margin: 8px 8px;
}
button{
    text-decoration: none;
    padding: 4px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: var(--Gray-200, #E5E7EB);
    color: var(--Gray-900, #111827);
    border: 0;
    text-align: center;
    cursor: pointer;
}
.user-2{
    display: flex;
    align-items: flex-start;
    gap: 48px;
    align-self: stretch;
}
.user-2-profile p{
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.user-2 img{
    width: 400px;
    height: 480px;
    flex-shrink: 0;
    border: 8px solid var(--Gray-50, #F9FAFB);
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;    
}
.social-media-icons{
    color: var(--Gray-600, #4B5563);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin: 40px 0;   
}
.social-media-icons div p{
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    max-width: 576px;
    text-align: center;
    color: var(--Gray-600, #4B5563);
}
.social-media-icons img{
    width: 64px;
    height: 64px;
    justify-content: center;
    margin: 40px 48px;
}
.developer-summary{
    padding: 32px 32px;
}
.dev-speech{
    text-align: center;
    margin: 30px 0;
}
.experiences, .dev-2, .dev-3{
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    background: var(--Gray-Default, #FFF);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06), 0px 4px 3px 0px rgba(0, 0, 0, 0.07);
    padding: 32px 32px;
    
}
.experiences img{
    width: 102px;
    height: 28px
}
.dev-2{
    margin: 32px 32px;
}